* {
  list-style: none;
  margin: 0;
  padding: 0;
}
.link-home-page {
  font-size: 30px;
  margin-bottom: 200px;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.gallery-item {
  width: 360px;
  height: 200px;
}
.gallery-image {
  width: 360px;
  height: 200px;
}
.sl-image img {
  opacity: 0;
  transition: opacity 1s ease-in-out; /* Плавне з'явлення за 0.5с */
}
.feedback-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.btn-submit-form {
  border-radius: 8px;
  padding: 8px 16px;
  width: 95px;
  height: 40px;
  background: #4e75ff;
  color: aliceblue;
  margin-left: 20px;
}
.btn-submit-form:hover {
  background-color: #6c8cff;
}
